$menuHeight: 60px;
$menuBreakpoint: 768px;

#my-first {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logotype {
    a {
      padding: 0 8px;
      font-size: 1.4rem;
      text-decoration: none;
      color: #07c;
    }
  }

  .burger {
    padding: 0 10px;
    border-left: 1px solid #eee;
    display: none;
    cursor: pointer;

    i {
      color: #999;
      line-height: $menuHeight;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: #{$menuHeight + 2};
        background: #fff;
        width: 100%;

        .menu-item {
          border-bottom: 1px solid #cccccc;
        }
      }
    }

    .menu-item {
      padding: 0 10px;
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      color: #454545;
    }
  }
}
