.dvs-form-control {
  label,
  input {
    display: block;
  }

  label {
    margin-bottom: 4px;
    font-weight: 600;

    &.required {
      &:after {
        content: "*";
        color: red;
      }
    }
  }

  select {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
  }
}
